@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/*CSS Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(215, 51%, 70%);
}

body{
  width: 100%;
  height: 100vh;
  padding: 20px;
  font-size: 1rem;
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container{
  padding: 25px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;
  /* display: inline-block; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.image-equilibrium{
  display: block;
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 0.5rem;
}

p.collection-name{
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

p.collection-description{
  font-weight: 300;
  color: var(--primary-color);
  /* margin: 1rem 0; */
  line-height: 1.5;
}

#nft-info{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  /* border-bottom: 0.05rem solid var(--primary-color); */
}

.price-container{
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.time-container{
  display: flex;
  gap: 0.5rem;
  color: var(--primary-color);
}

#creator-info{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: var(--primary-color);
  border-top: 0.025rem solid var(--primary-color);
  padding-top: 1rem;
  margin-bottom: 0;
}

/* .clock-icon{
  object-fit: cover;
} */

.creator-img{
  object-fit: contain;
  width: 2.5rem;
  border: .001rem solid white;
  border-radius: 50%;
}

span{
  color: white;
}

/* hr{
  border: 0.5px solid var(--primary-color);
} */
/* footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-top: 10px;
} */

a{
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}