/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(215, 51%, 70%);
  --secondary-color: hsl(178, 100%, 50%);
}

html, body{
  height: 100%;
}
body {
  /* width: 100%;
  height: 100vh; */
  padding: 20px;
  font-size: 16px;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.card-container {
  width: 100%;
  max-width: 350px;
  padding: 1.25rem;
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;
}

.card-image {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
}

h1.collection-name {
  font-size: 1.25em;
  margin: 1.25rem 0;
  font-weight: 600;
}

p.collection-description {
  font-weight: 300;
  color: var(--primary-color);
  font-size: 1.05rem;
  line-height: 1.8em;
}

#nft-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 0.5px solid var(--primary-color);
}

.price-container {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  color: var(--secondary-color);
  font-weight: 600;
}

.eth-symbol,
.clock-icon,
.creator-img {
  object-fit: contain;
}

.time-container {
  display: flex;
  gap: 0.5rem;
  color: var(--primary-color);
}

.collection-name:hover {
  color: var(--primary-color);
}

#creator-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: var(--primary-color);
  font-weight: 300;
  padding-top: 1rem;
}

.creator-img {
  width: 2.5rem;
  border: 0.001rem solid white;
  border-radius: 50%;
}

span {
  color: white;
}

.collection-name:hover {
  color: var(--secondary-color);
  cursor: pointer;
  transition: 0.5s;
}

@media (min-width: 375px) {
  /* body {
    width: 80%;
  } */
  /* .collection-name:hover {
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
  } */
  /* .card-image:hover {
    opacity: 0.3;
    cursor: pointer;
    background: url(./images/icon-view.svg) no-repeat;
    background-color: var(--secondary-color);
  }
} */
